@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Amatic+SC:wght@400;700&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fanwood+Text:ital@0;1&family=Quicksand:wght@300;400;500;600;700&family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary: #3d3b3a;
    --secondary: #fff;
    --background: #f8f8f8;
}

body {
    background-color: var(--background);
}

.logo {
    margin: 30px auto;
    max-width: 350px;
    min-width: 100px;
    display: block;
}

.topnav a {
    color: var(--primary);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero {
    background: url('assets/fog.jpg');
    background-size: cover;
    width: 100%;
    overflow: hidden;
    min-height: 40vh;
    max-height: 400px;
    text-align: center;
    margin: 20px auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    position: relative;
    z-index: -9000;
}

.hero h2 {
    font-family: 'Fanwood Text', serif;
    color: var(--secondary);
    text-align: right;
    font-style: italic;
    font-size: 4rem;
    line-height: 1;
    width: 100%;
}

.hero .button.hollow {
    color: var(--secondary);
    border-color: var(--secondary);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    background: rgb(0, 0, 0, 0.4);
    margin: 1em;
    border-radius: 3px;
}

.hero .button.hollow:hover {
    color: var(--secondary);
    border-color: var(--secondary);
}

.main {
    background-color: var(--secondary);
    max-width: 1170px;
    min-height: 35vh;
    margin: 0 auto 10rem;
    width: 95%;
    padding: 3rem;
    position: relative;
    z-index: 900;
    top: -250px;
    box-shadow: 0 20px 40px 0 rgba(1, 1, 1, .15);
}

.main h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 60px;
    font-weight: 300;
}

.main p {
    font-family: 'Fanwood Text', serif;
    font-size: 24px;
    font-weight: 500;
}